/* App.css */

/* Estilos gerais para o aplicativo */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* Outros estilos específicos para o seu aplicativo */
